@font-face {
	font-family: "Bazar";
	src: url("./fontsweb/bazar.woff") format("woff"), url("./fontsweb/bazar.woff2") format("woff2");
	font-weight: normal;
	font-style: normal;
}

@font-face {
  font-family: "Oswald";
  src: local("Oswald Regular"),
    url("./fontsweb/oswaldregular.woff2") format("woff2"),
    url("./fontsweb/oswaldregular.woff") format("woff");
  font-style: normal;
  font-weight: 500;
  font-display: block;
}

* {
  box-sizing: border-box;
}

html,
body {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	font-family: "bazar", "Arial", sans-serif;
	font-size: 15px;
	line-height: 30px;
	letter-spacing: normal;
	color: #f9ebd9;
  background-image: url("./img/pattern-blue.png");
  background-color: #78bbbb;
  background-repeat: repeat;
  letter-spacing: 0.2px;
  text-transform: uppercase;
}

.container {
  display: flex;
  flex-direction: column;
  min-width: 900px;
}

.modal-show {
	display: block;
}

.main-page__header {
  position: relative;
  width: 94%;
  margin: 0 auto;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 3%;
  padding-right: 3%;
  box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.1);
}

.main-page__header::before {
  content: "";
  position: absolute;
  border-top: 1px dashed rgba(57, 58, 58, 0.25);
  border-bottom: 1px dashed #96c5c3;
  width: 100%;
  bottom: 8px;
  left: 0;
}

.main-page__header::after {
  content: "";
  position: absolute;
  border-top: 1px dashed rgba(57, 58, 58, 0.25);
  border-bottom: 1px dashed #96c5c3;
  width: 100%;
  bottom: -11px;
  left: 0;
  z-index: 2;
}


.main-page {
  padding-top: 30px;
}

.main-logo {
  position: absolute;
  left: 45%;
  top: 5px;
}

.main-navigation__list {
  list-style: none;
  display: flex;
  justify-content: space-around;
  padding-left: 4%;
  padding-right: 4%;
  min-width: 900px;
}

.main-navigation__item a {
  text-decoration: none;
  color: #f9ebd9;
}

.main-navigation__item a:hover {
  opacity: 0.8;
}

.main-navigation__item a:active {
  opacity: 0.3;
}

.main-navigation__item:nth-child(2) {
  padding-right: 200px;
}

.intro {
  position: relative;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  padding-bottom: 10px;
  border-bottom: 1px solid #b5b1a4;
}

.intro::before {
  content: "";
  position: absolute;
  border-top: 1px dashed rgba(57, 58, 58, 0.25);
  border-bottom: 1px dashed #96c5c3;
  width: 100%;
  bottom: 8px;
  left: 0;
}

.intro::after {
  content: "";
  position: absolute;
  border-top: 1px dashed rgba(57, 58, 58, 0.25);
  border-bottom: 1px dashed #e8e4d6;
  width: 100%;
  bottom: -11px;
  left: 0;
  z-index: 2;
}

.intro img {
  margin: 0 auto;
  padding-bottom: 30px;
}

.main-photo {
  max-width: 100%;
  overflow: hidden;
}

.intro__moto {
  margin: 0 auto;
  width: 250px;
  padding-bottom: 20px;
}

.about-me {
  background-image: url("./img/pattern-ivory.png");
  font-family: "Oswald", "Arial", sans-serif;
  background-color: #f9ebd9;
  color: #383a3c;
  display: flex;
  flex-direction: column;
  position: relative;
  border-bottom: 1px solid #b5b1a4;
}

.about-me::before {
  content: "";
  position: absolute;
  border-top: 1px dashed rgba(57, 58, 58, 0.25);
  border-bottom: 1px dashed #e5e1d3;
  width: 100%;
  bottom: 8px;
  left: 0;
}

.about-me::after {
  content: "";
  position: absolute;
  border-top: 1px dashed rgba(57, 58, 58, 0.25);
  border-bottom: 1px dashed #e29f84;
  width: 100%;
  bottom: -11px;
  left: 0;
  z-index: 2;
}

.about-me__header {
  font-family: "bazar", "Arial", sans-serif;
  font-size: 90px;
  line-height: 90px;
  margin: 0 auto;
  padding-top: 30px;
}

.about-me__xxx,
.portfolio__xxx,
.skill__xxx,
.xxx {
  text-transform: none;
  position: relative;
  font-family: 'Roboto Slab', serif;
  margin: 0 auto;
  padding-top: 10px;
}

.about-me__xxx::before,
.portfolio__xxx::before,
.skill__xxx::before,
.xxx::before {
  content: "";
  position: absolute;
  width: 42px;
  height: 1px;
  border-bottom: 2px solid #3b3b3b;
  left: -50px;
  top: 25px;
}

.about-me__xxx::after,
.portfolio__xxx::after,
.skill__xxx::after,
.xxx::after {
  content: "";
  position: absolute;
  width: 42px;
  height: 1px;
  border-bottom: 2px solid #3b3b3b;
  right: -50px;
  top: 25px;
}

.about-me__moto {
  margin: 0 auto;
  width: 80%;
    text-align: center;
}

.about-me__list {
  list-style: none;
  padding-left: 0;
  width: 69%;
  margin: 0 auto;
  display: flex;
  padding-top: 30px;
  min-width: 750px;
}

.about-me__list-item {
  position: relative;
  width: 25%;
  padding-top: 165px;
}

.about-me__list-item::before {
  content: "";
  position: absolute;
  width: 140px;
  height: 140px;
  border-radius: 50%;
  background-color: #d45244;
  border: 5px solid #f5eee3;
  box-shadow: 0px 0px 0px 5px #d45244;
  top: 20px;
  margin: 0 auto;
  left: 50%;
  transform: translateX(-50%);
  font-size: 80px;
  line-height: 120px;
  text-align: center;
  color: #f9ebd9;
}

.about-me__list-item--learner::before {
  content: "</>";
}

.about-me__list-item--motivated::before {
  content: "{ }";
}

.about-me__list-item--responsible::before {
  content: "#";
}

.about-me__list-item--collaborative::before {
  content: "@";
}

.about-me__list-item h3 {
  font-family: "bazar", "Arial", sans-serif;
  position: relative;
  text-align: center;
  padding-top: 20PX;
}

.about-me__list-item h3::after {
  content: "";
  position: absolute;
  width: 40px;
  border-bottom: 4px solid #383a3c;
  bottom: -15px;
  left: 50%;
  transform: translateX(-20px);
}

.about-me__skills {
  display: flex;
  margin: 20px auto;
  width: 900px;
}

.about-me__skills p {
  align-self: center;
  font-size: 40px;
  width: 200px;
  flex-shrink: 0;
  margin-left: 50px;
}

.about-me__skills-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.about-me__skills-list li{
  padding: 20px;
  margin-top: 7px;
  position: relative;
  font-size: 20px;

}

.about-me__skills-list li::before{
  content: "";
  position: absolute;
  border: 2px solid #d45244;
  border-radius: 50%;
  left: 5px;
  top: 50%;
}

.portfolio {
  background-color: #e68966;
  background-image: url("./img/pattern-pink.png");
  font-family: "Oswald", "Arial", sans-serif;
  display: flex;
  flex-direction: column;
  color: #383a3c;
  border-bottom: 1px solid #b5b1a4;
  position: relative;
}

.portfolio::before {
  content: "";
  position: absolute;
  border-top: 1px dashed rgba(57, 58, 58, 0.25);
  border-bottom: 1px dashed #e6a288;
  width: 100%;
  bottom: 8px;
  left: 0;
}

.portfolio::after {
  content: "";
  position: absolute;
  border-top: 1px dashed rgba(57, 58, 58, 0.25);
  border-bottom: 1px dashed #e2dfdc;
  width: 100%;
  bottom: -11px;
  left: 0;
  z-index: 2;
}

.portfolio__header {
  font-family: "bazar", "Arial", sans-serif;
  padding-top: 60px;
  font-size: 90px;
  line-height: 90px;
  margin: 0 auto;
  padding-top: 30px;
}

.portfolio__moto {
  margin: 0 auto;
}

.project-list {
  display: flex;
  flex-direction: row;
  width: 900px;
  flex-wrap: wrap;
  margin: 0 auto;
  justify-content: space-between;
  padding-top: 30px;
  padding-left: 0;
}

.project-list__item {
  width: 400px;
  height: 260px;
  background-color: #e3dfd7;
  margin-bottom: 30px;
  border: 5px solid #ffffff;

  display: flex;
}

.project-list__item-photo {
   display: block;
   width: 200px;
  height: 200px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  font-size: 0;
  line-height: 20px;
}

.project-list__item-info {
  width: 200px;
  padding: 15px;
  text-transform: none;
}

.project-list__item-info h3{
  margin: 0;
}

.project-list__item-info ul {
  list-style: none;
  padding-left: 0;
}

.project-list__item-info a {
  color: #383a3c;
  text-transform: uppercase;
  text-decoration: none;
}

.project-list__item-info a:hover {
  opacity: 0.6;
}

.project-list__item--gllacy .project-list__item-photo {
  background-image: url("./img/gllacy.png");
  background-size: 140%;
  background-position-y: 0;

}

.project-list__item--device .project-list__item-photo{
  background-image: url("./img/device.png");
}

.project-list__item--ihc .project-list__item-photo{
  background-image: url("./img/ihc.png");
  background-size: 140%;
}

.project-list__item--piterra .project-list__item-photo{
  background-image: url("./img/piterra.png");
}

.project-list__item--fh .project-list__item-photo{
  background-image: url("./img/fh.png");
}

.project-list__item--fanat .project-list__item-photo{
  background-image: url("./img/fanat.jpeg");
}

.project-list__item--rukami .project-list__item-photo{
  background-image: url("./img/rukami.jpg");
}

.project-list__item--sedona .project-list__item-photo{
  background-image: url("./img/sedona.svg");
  background-position: top;
}

.project-list__item--cat .project-list__item-photo{
  background-image: url("./img/cat-energy.png");
}

.project-list__item--shtirliz .project-list__item-photo{
  background-image: url("./img/shtirliz.jpg");
}

.project-list__item--yasno .project-list__item-photo{
  background-image: url("./img/yasno.png");
}

.project-list__item--9sense .project-list__item-photo{
  background-image: url("./img/9sense.jpg");
}

.project-list__item--finolab .project-list__item-photo{
  background-image: url("./img/finolab.svg");
}

.project-list__item--keksogram .project-list__item-photo{
  background-image: url("./img/keksogram.png");
}

.skills {
  background-color: #e3e0dd;
  background-image: url("./img/pattern-grey.png");
  font-family: "Oswald", "Arial", sans-serif;
  display: flex;
  flex-direction: column;
  color: #383a3c;
  border-bottom: 1px solid #b5b1a4;
  position: relative;
}

.skills::before {
  content: "";
  position: absolute;
  border-top: 1px dashed rgba(57, 58, 58, 0.25);
  border-bottom: 1px dashed #e2dfdc;
  width: 100%;
  bottom: 8px;
  left: 0;
}

.skills::after {
  content: "";
  position: absolute;
  border-top: 1px dashed rgba(57, 58, 58, 0.25);
  border-bottom: 1px dashed #787a7d;
  width: 100%;
  bottom: -11px;
  left: 0;
  z-index: 2;
}

.skill__header {
  font-family: "bazar", "Arial", sans-serif;
  padding-top: 60px;
  font-size: 90px;
  line-height: 90px;
  margin: 0 auto;
  padding-top: 30px;
}

.skill__moto {
  margin: 0 auto;
}

.skill__list {
  list-style: none;
  width: 900px;
  margin: 30px auto;
  display: flex;
  flex-wrap: wrap;
}

.skill__item {
  display: flex;
  width: 50%;
  padding-bottom: 30px;
}

.skill__item-photo {
  cursor: pointer;
}

.skill__info {
  margin: 0 30px;
}

.skill__info h3 {
  margin: 0;
}

.skill__info p {
  font-family: "Oswald", "Arial", sans-serif;
}

.contacts {
  background-color: #4c5057;
  background-image: url("./img/pattern-black.png");
  font-family: "Oswald", "Arial", sans-serif;
  display: flex;
  flex-direction: column;
  color: #f6edd8;
  position: relative;
  padding-bottom: 30px;
}

.contacts__header {
  font-family: "bazar", "Arial", sans-serif;
  padding-top: 60px;
  font-size: 90px;
  line-height: 90px;
  margin: 0 auto;
  padding-top: 30px;
}

.contacts__xxx::before,
.contacts__xxx::after {
  border-color: #f6edd8;
}

.contacts__moto {
  margin: 0 auto;
}

.contacts__form {
  width: 480px;
  margin: 15px auto;
}

.contacts__fieldset {
  display: flex;
  flex-direction: column;
  border: none;
}

.form__input {
  font-size: 18px;
  width: 100%;
  margin-bottom: 10px;
  height: 37px;
  padding-left: 9px;
  padding-right: 9px;
  border-radius: 5px;
  border: none;
}

.form__textarea {
  height: 165px;
  padding-top: 9px;
  resize: none;
}

.fixed-overlay {
	position: fixed;
	overflow: auto;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.2);
	z-index: 500;
}

.form__button {
  width: 140px;
  height: 37px;
  background-color: #fcfaf7;
  border-radius: 5px;
  margin-left: 13px;
  color: #383a3c;
  font-size: 16px;
  font-family: "Oswald", "Arial", sans-serif;
}

.overlay-sert {
	display: none;
}

.modal-show {
	display: block;
}

.modal {
	position: absolute;
	left: 50%;
	top: 20%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

.pop-up {
  width: 700px;
	position: absolute;
  z-index: 1001;
  left: 50%;
  top: -150px;
	margin-left: -350px;
}

@media (max-width: 950px) {

  .about-me__skills-list li {
    padding: 0 20px;
  }

  .about-me__header {
    font-size: 40px;
  }
  .container {
    max-width: 950px;
    min-width: 100vw;
  }

  .main-page__header {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .main-logo {
    position: static;
    margin: 0 auto;
  }

  .main-navigation__list {
    flex-direction: column;
    min-width: 320px;
    padding-top: 0px;
  }

  .main-navigation__item {
    margin: 10px auto;
  }

  .main-navigation__item:nth-child(2) {
    padding-right: 0;
  }

  .intro {
    display: none;
  }

  .about-me__list {
    flex-direction: column;
    min-width: 100%;
  }

  .about-me__list-item {
    width: 100%;
    padding-top: 99px;
  }

  .about-me__skills {
    flex-direction: column;
    width: 100%;
  }

  .project-list {
    flex-direction: column;
    width: 100%;
  }

  .project-list__item {
    width: 80%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    flex-direction: column;
  }

  .skill__list {
    width: 100%;
    box-sizing: border-box;
    flex-direction: column;
    padding-left: 0;
  }

  .skill__item {
    width: 100%;
  }

  .skill__item a {
    margin: 0 auto;
  }

  .contacts__form {
    width: 100%;
  }

  .contacts__header,
  .about-me__header,
  .portfolio__header,
  .skill__header {
    font-size: 40px;
    line-height: 45px;
  }

  .skill__info {
    display: none;
  }

  .project-list__item-photo {
    margin: 0 auto;
  }

  .project-list__item-info {
    width: 100%;
  }

  .about-me__list-item::before {
    content: "";
    position: absolute;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #d45244;
    border: 5px solid #f5eee3;
    box-shadow: 0px 0px 0px 5px #d45244;
    top: 20px;
    margin: 0 auto;
    left: 50%;
    transform: translateX(-50%);
    font-size: 34px;
    line-height: 56px;
    text-align: center;
    color: #f9ebd9;
  }
}