$width-desktop: 1440px;
$width-tablet: 768px;
$width-mobile: 416px;
$width-min: 320px;

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

$font-family: "HelveticaNeueCyr", "Arial", sans-serif;
$font-base: 48px;

$color-white: #ffffff;

$color-black-bigtext: #1f1f1f;
$color-black-smalltext: #0f0f0f;
$color-black-font: #141414;
$color-black-arrow: #0e0e0e;
$color-black-dot: #0f0f0f;

$color-grey-light: #f1f1f1;
$color-grey-dark: #c4c4c4;
$color-grey-text: #ebebeb;
$color-grey-footer: #a2a0a3;
$color-grey-link: #5b5a5c;
$color-popup-bg: #e5e5e5;
