include pug/mixins

block variables
- let mainTitle = "Nine Sense Clinic";

doctype html
html( lang="ru" )
  head
    meta( charset="UTF-8" )
    title #{mainTitle} !{title && "| " + title}
    meta( name="viewport" content="width=device-width, initial-scale=1.0" )
    link( rel="preload" href="fonts/HelveticaRegular.woff2" as="font" type="font/woff2" crossorigin )
    link( rel="preload" href="fonts/HelveticaItalic.woff2" as="font" type="font/woff2" crossorigin )
    link( rel="preload" href="fonts/HelveticaBold.woff2" as="font" type="font/woff2" crossorigin )
    link( rel="stylesheet" href="css/style.min.css" )

  body
    header.header
      .header__gradient
      .header__logo
        +svg( "logo", 120, 120 )

      button.header__open
        .header__open-button
      button.header__close

      nav.header__links( id="links" )
        ul
          li: +link-text( "Омар Газаев", "#about", "header__link header__link--anchor" )
          li: +link-text( "Лаборатория", "#lab", "header__link header__link--anchor" )
          li: +link-text( "Работы", "#works", "header__link header__link--anchor" )
          li: +link-text( "Локация", "#location", "header__link header__link--loc" )
        button.header__lang En

      p.header__turn
        span Клиника эстетической стоматологии в Москве
      .parallax-header.header__phrase
        p Природа начинает, #[span.header__phrase--italics искусство] направляет, опыт совершенствует

    main
      .container
        h1.visually-hidden #{mainTitle}
        .shadow

        section.about.scale.scale--big( id="about" )
          .about__container
            .about__block
              button.about__close
              h2 Омар Газаев

              h3 Специализация
              ul
                li Dr. Domenico Massironi, Италия
                li Dr. Christian Lex, Германия
                li Dr. Domenico Massironi, Италия
                li Dr. Christian Lex, Германия

              h3 Публикации
              ul.about__works
                li: +link-text( "Ein Konzept der dentalen Kommunikationskultur So fern und doch so nah Alexander Miranskij, Omar Gazaev", href="https://dentalmanufaktur-nuernberg.de/wordpress/wp-content/uploads/2017/08/qz_2013_03_s0280_scr-Kopie.pdf", "" )
                li: +link-text( "Herstellung geschichteter Veneers bei inkongruenter Ausgangssituation Alexander Miranskij, Omar Gazaev", href="https://dentalmanufaktur-nuernberg.de/wordpress/wp-content/uploads/2017/08/qz_2014_09_s1164-Kopie.pdf", "" )

              .about__signature
                img( src="img/sign2.png" width="155" height="64" alt="signature" )
          .about__mobile.small-text
            p Омар Газаев, стоматолог
            button Специализация и публикации
              +svg( "arrow-1", 20, 10 )

        section.text-block.text-block--tech.parallax
          h2.visually-hidden Технологии
          p Технологии не стоят на месте, вместо просто белого &ndash; #[span.text-block--italics контролируемая] яркость

        section.lab.scale.scale--big( id="lab" )
          h2.visually-hidden
          img( src="img/lab@1x.jpg" srcset="img/lab@2x.jpg 2x" width="1312" height="772" alt="lab" )
          .lab__text.small-text
            p Партнерство с немецкими и швейцарскими лабораториями.
            +svg( "swiss", 17, 12 )
            +svg( "german", 17, 12 )

        section.text-block.text-block--dark.text-block--smile.parallax
          h2.visually-hidden Улыбайся
          p Улыбайся &ndash; это символ твоей #[span.text-block--italics уверенности]


        section.smile.scale.scale--big
          picture
            source( media="(max-width: 768px)" srcset="img/face-mobile@2x.jpg 2x" )
            img( src="img/face@1x.jpg" srcset="img/face@2x.jpg 2x" width="1312" height="772" alt="Марина" )
          p.smile__text.small-text Марина, успела до свадьбы

        section.text-block.text-block--dark.text-block--bright.parallax
          h2.visually-hidden Ярко
          p Ярко, натурально, #[span.text-block--italics персонально]

        section.slider.scale.scale--big( id="works" )
          .swiper-container.slider-container
            .swiper-wrapper
              .swiper-slide.slider__slide
                a.slider__img( href="img/smile@2x.jpg")
                  img( src="img/smile@1x.jpg"  srcset="img/smile@2x.jpg 2x" width="1312" height="772" alt="Марина" )
              .swiper-slide.slider__slide
                a.slider__img( href="img/smile@2x.jpg")
                  img( src="img/smile@1x.jpg"  srcset="img/smile@2x.jpg 2x" width="1312" height="772" alt="Марина2" )
              .swiper-slide.slider__slide
                a.slider__img( href="img/smile@2x.jpg")
                  img( src="img/smile@1x.jpg"  srcset="img/smile@2x.jpg 2x" width="1312" height="772" alt="Марина3" )
            p.slider__caption.small-text
            button: +svg( "lupa", 24, 24 )
            .swiper-pagination.small-text

            .swiper-button-prev.slider__button.slider-prev.small-text
              +svg( "arrow-prev", 20, 10 )

            .swiper-button-next.slider__button.slider-next.small-text
              +svg( "arrow-1", 20, 10 )

        section.location.location--dark( id="location" ).parallax
          h2.visually-hidden Адрес
          p Локация &ndash; #[span.location--italics Патрики]#[br] Есть бесплатная парковка
            a.location__desktop-address( href="https://yandex.ru/maps/-/CKan624~") Большая Садовая ул., 5с2
            a.location__mobile-address(href="https://yandex.ru/maps/-/CKan624~") Посмотреть на карте
              +svg( "arrow-1", 20, 10 )
          .location__img-cover
            img( src="img/map@1x.png" srcset="img/map@2x.png 2x" width="378" height="425" alt="map" )
            .location__address
              span.location__address-mobile Большая#[br] Садовая ул., 5с2
              a.location__mobile-whatsapp( title="WhatsApp" href="whatsapp://send?phone=+79057161451") +7 905 716-14-51
                +svg( "whatsapp", 18, 18 )



    footer.footer
      p Дизайн: #[a(href="#") genue.ru]

      a.footer__whatsapp( title="WhatsApp" href="whatsapp://send?phone=+79057161451") +7 (905) 716-14-51
        +svg( "whatsapp", 18, 18 )


    block scripts
      script( src="js/script.min.js" )
